<h1>Create city of country {{country.name}}</h1>

<div class="row">
  <div class="col-md-6">
    <form>
      <div class="form-group">
        <label for="city-name">City name</label>
        <input id="city-name" name="city-name" class="form-control">
      </div>
      <div class="form-group">
        <label for="city-description">City description</label>
        <input id="city-description" name="city-description" class="form-control">
      </div>
      <input type="submit" class="btn btn-success">
    </form>
  </div>
</div>

